/*
 *= require_self
 *= require_tree .
 */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  place-items: center;
  margin: 0;
  background-color: #aa0d0d;
  }



.content {
  padding: 20px;
}

.footer {
  padding: 20px;
}


.event-form {
  margin: auto;
  
}
.nav {
  width: 100%;
}
.field {
  margin-bottom: 1em;
}

.field-label {
  display: block;
  font-weight: bold;
}

.field-input {
 background-color: rgb(245, 245, 239);
}

.actions {
  margin-top: 2em;
}

.submit-button {
  background-color: rgb(245, 245, 239);
}

.error-messages {
  color: red;
  margin-bottom: 1em;
}

.error-messages ul {
  list-style: none;
  padding-left: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5); 
  padding: 20px;
  border-radius: 5px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}